@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
  scroll-behavior: smooth; 
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar .navbar-brand img {
    max-width: 120px;
  }

  .navbar .nav-link {
    font-size: 0.9rem;
    margin: 0.2rem 0;
  }

  .navbar .icon {
    font-size: 1rem;
  }
  
  /* Estilizar o botão do menu hamburguer */
.navbar-toggler {
  border: none; /* Remove qualquer borda do botão */
  outline: none; /* Remove o contorno ao clicar */
}

/* Definir o ícone do menu hamburguer */
.navbar-toggler-icon {
  background-color: white; /* Cor de fundo branca para o ícone */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

}

.description {
  color: #707070;
}

.navbar {
  background-color: #1B2629 !important;
  padding: 10px 0;
}

.navbar-brand img {
  width: 80px;
  margin-left: 10px;
}

.nav-link {
  color: #F7D622 !important;
  font-weight: bold;
  margin-right: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: white !important; 
}

.nav-link .icon {
  margin-right: 5px; 
  font-size: 18px; 
}

.carousel-container {
  margin: 20px;
  max-width: 80%;
}


.carousel-item {
  padding: 2rem 5rem;
}

button.custom-button {
  background-color: #F7D622; 
  border: 2px solid black;
  color: black; 
  font-weight: bold; 
  padding: 1rem 5rem; 
  font-size: 18px; 
  text-transform: uppercase; 
  margin-top: 20px;
  border-radius: 0; 
  cursor: pointer;
}

button.custom-button:hover {
  background-color: black;
  color: #F7D622;
}


.footer {
  background-color: #1B2629;
  color:  white; 
  padding: 20px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.footer-logo {
  width: 150px;
}

.footer-links {
  display: inline-block;
}

.footer-link,
.footer-icon {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-icon {
  margin-right: 10px;
  font-size: 18px;
}

.footer-link:hover,
.footer-icon:hover {
  color:  #707070;
}

.footer-text {
  margin: 10px 0 0;
  line-height: 1.5;
}